USE [master]
GO
/****** Object:  Database [CMWD]    Script Date: 5/30/2016 1:29:16 AM ******/
CREATE DATABASE [CMWD]
 CONTAINMENT = NONE
 ON  PRIMARY 
--( NAME = N'CMWD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CMWD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'CMWD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CMWD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMWD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMWD]
GO
/****** Object:  Table [dbo].[APPROVAL_TRANSACTIONS]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_TRANSACTIONS](
	[APPROVAL_ID] [int] NOT NULL,
	[PO_ID] [bigint] NOT NULL,
	[APPROVER_ID] [int] NOT NULL,
	[REQUESTER_ID] [int] NOT NULL,
 CONSTRAINT [PK_APPROVAL_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[APPROVAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BID]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BID](
	[BID_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[BIDDING_CO_ID] [int] NOT NULL,
	[BID_STATUS] [varchar](50) NULL,
	[BID_AMOUNT] [decimal](13, 2) NULL,
 CONSTRAINT [PK_BID_1] PRIMARY KEY CLUSTERED 
(
	[BID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANY](
	[COMPANY_ID] [int] NOT NULL,
	[COMPANY_NAME] [varchar](50) NOT NULL,
	[COMPANY_ADDRESS] [varchar](50) NULL,
	[COMPANY_COUNTY] [varchar](50) NULL,
 CONSTRAINT [PK_COMPANY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[DOCUMENT_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[DOCUMENT_NAME] [varchar](50) NOT NULL,
	[DOCUMENT_PATH] [varchar](max) NOT NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUND]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUND](
	[FUND_ID] [int] NOT NULL,
	[FUND_CURRENT_BALANCE] [decimal](13, 2) NOT NULL,
	[FUND_NAME] [varchar](50) NOT NULL,
	[FUND_ORIGINAL_BALANCE] [decimal](13, 2) NOT NULL,
 CONSTRAINT [PK_FUND] PRIMARY KEY CLUSTERED 
(
	[FUND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSON](
	[PERSON_ID] [int] NOT NULL,
	[PERSON_NAME] [varchar](50) NOT NULL,
	[PERSON_ADDRESS] [nvarchar](50) NULL,
	[PERSON_SPECIALITY] [nvarchar](50) NULL,
	[PERSON_PHONE] [varchar](50) NULL,
	[COMPANY_ID] [int] NULL,
 CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJECT_ID] [int] NOT NULL,
	[PROJECT_MGR_ID] [int] NOT NULL,
	[PROJECT_NAME] [varchar](80) NOT NULL,
	[PERSON_ID] [int] NOT NULL,
	[FUND_ID] [int] NULL,
	[ESTIMATED_COST] [int] NULL,
	[COUNTY] [varchar](50) NULL,
	[ESTIMATED_END_DT] [datetime] NOT NULL CONSTRAINT [DF_PROJECT_ESTIMATED_END_DT]  DEFAULT (getdate()),
	[BID_DUE_DATE] [datetime] NOT NULL CONSTRAINT [DF_PROJECT_BID_DUE_DATE]  DEFAULT (getdate()),
	[BID_RESULTS_DATE] [datetime] NULL CONSTRAINT [DF_PROJECT_BID_RESULTS_DATE]  DEFAULT (getdate()),
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PURCHASE_ORDER]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PURCHASE_ORDER](
	[PO_ID] [bigint] NOT NULL,
	[PO_AMOUNT] [decimal](13, 4) NOT NULL,
	[PO_STATUS] [varchar](10) NOT NULL,
	[PROJECT_ID] [int] NULL,
	[PO_DATE] [datetime] NULL,
 CONSTRAINT [PK_PURCHASE_ORDER] PRIMARY KEY CLUSTERED 
(
	[PO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPECIFICATIONS]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPECIFICATIONS](
	[SPEC_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[SPEC_NAME] [varchar](80) NOT NULL,
	[SPEC_PATH] [varchar](max) NOT NULL,
 CONSTRAINT [PK_SPECIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[SPEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIMELINE]    Script Date: 5/30/2016 1:29:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMELINE](
	[TIMELINE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[ACTUAL_BEGIN_DT] [datetime] NULL,
	[ACTUAL_END_DT] [datetime] NULL,
 CONSTRAINT [PK_TIMELINE] PRIMARY KEY CLUSTERED 
(
	[TIMELINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[APPROVAL_TRANSACTIONS] ([APPROVAL_ID], [PO_ID], [APPROVER_ID], [REQUESTER_ID]) VALUES (1, 1, 1, 3)
INSERT [dbo].[APPROVAL_TRANSACTIONS] ([APPROVAL_ID], [PO_ID], [APPROVER_ID], [REQUESTER_ID]) VALUES (2, 2, 2, 4)
INSERT [dbo].[APPROVAL_TRANSACTIONS] ([APPROVAL_ID], [PO_ID], [APPROVER_ID], [REQUESTER_ID]) VALUES (3, 3, 7, 18)
INSERT [dbo].[BID] ([BID_ID], [PROJECT_ID], [BIDDING_CO_ID], [BID_STATUS], [BID_AMOUNT]) VALUES (1, 5, 1, N'Pending', CAST(16250000.00 AS Decimal(13, 2)))
INSERT [dbo].[BID] ([BID_ID], [PROJECT_ID], [BIDDING_CO_ID], [BID_STATUS], [BID_AMOUNT]) VALUES (2, 1, 2, N'Accepted', CAST(650000.00 AS Decimal(13, 2)))
INSERT [dbo].[BID] ([BID_ID], [PROJECT_ID], [BIDDING_CO_ID], [BID_STATUS], [BID_AMOUNT]) VALUES (3, 2, 6, N'Rejected', CAST(500000.00 AS Decimal(13, 2)))
INSERT [dbo].[COMPANY] ([COMPANY_ID], [COMPANY_NAME], [COMPANY_ADDRESS], [COMPANY_COUNTY]) VALUES (1, N'Nelco Blue', N'2452 Cherry Lane ', N'Alameda')
INSERT [dbo].[COMPANY] ([COMPANY_ID], [COMPANY_NAME], [COMPANY_ADDRESS], [COMPANY_COUNTY]) VALUES (2, N'TEK Engg Works', N'639 Milpitas ', N'Alameda')
INSERT [dbo].[COMPANY] ([COMPANY_ID], [COMPANY_NAME], [COMPANY_ADDRESS], [COMPANY_COUNTY]) VALUES (3, N'Sparc Piping Works', N'750 San Diego', N'San Diego')
INSERT [dbo].[DOCUMENT] ([DOCUMENT_ID], [PROJECT_ID], [DOCUMENT_NAME], [DOCUMENT_PATH]) VALUES (1, 2, N'BILL OF MATERIALS', N'C://Documents/Project')
INSERT [dbo].[DOCUMENT] ([DOCUMENT_ID], [PROJECT_ID], [DOCUMENT_NAME], [DOCUMENT_PATH]) VALUES (2, 2, N'ENVIRONMENTAL STUDIES', N'D://HYDROLOGY/DOCUMENTS')
INSERT [dbo].[DOCUMENT] ([DOCUMENT_ID], [PROJECT_ID], [DOCUMENT_NAME], [DOCUMENT_PATH]) VALUES (3, 1, N'FEASIBILITY STUDIES', N'F://WATER_DEPT/DOCS')
INSERT [dbo].[FUND] ([FUND_ID], [FUND_CURRENT_BALANCE], [FUND_NAME], [FUND_ORIGINAL_BALANCE]) VALUES (1, CAST(50000000.00 AS Decimal(13, 2)), N'REPLACEMENT_100A', CAST(30000000.00 AS Decimal(13, 2)))
INSERT [dbo].[FUND] ([FUND_ID], [FUND_CURRENT_BALANCE], [FUND_NAME], [FUND_ORIGINAL_BALANCE]) VALUES (2, CAST(35000000.00 AS Decimal(13, 2)), N'AUXILARY_200B', CAST(15000000.00 AS Decimal(13, 2)))
INSERT [dbo].[FUND] ([FUND_ID], [FUND_CURRENT_BALANCE], [FUND_NAME], [FUND_ORIGINAL_BALANCE]) VALUES (3, CAST(45000000.00 AS Decimal(13, 2)), N'AUXILARY_100A', CAST(19000000.00 AS Decimal(13, 2)))
INSERT [dbo].[PERSON] ([PERSON_ID], [PERSON_NAME], [PERSON_ADDRESS], [PERSON_SPECIALITY], [PERSON_PHONE], [COMPANY_ID]) VALUES (1, N'JACOB P', N'347 KIELY BLVD', N'CIVIL ENGINEER', N'458-457-7558', NULL)
INSERT [dbo].[PERSON] ([PERSON_ID], [PERSON_NAME], [PERSON_ADDRESS], [PERSON_SPECIALITY], [PERSON_PHONE], [COMPANY_ID]) VALUES (2, N'JOHN D', N'2452 SANTA CLARA', N'WELDING ENGINEER', N'810-897-9878', NULL)
INSERT [dbo].[PERSON] ([PERSON_ID], [PERSON_NAME], [PERSON_ADDRESS], [PERSON_SPECIALITY], [PERSON_PHONE], [COMPANY_ID]) VALUES (3, N'ROHIT B', N'789 HIGH STREET', N'PROJECT MANAGER', N'408-978-6398', NULL)
INSERT [dbo].[PROJECT] ([PROJECT_ID], [PROJECT_MGR_ID], [PROJECT_NAME], [PERSON_ID], [FUND_ID], [ESTIMATED_COST], [COUNTY], [ESTIMATED_END_DT], [BID_DUE_DATE], [BID_RESULTS_DATE]) VALUES (1, 10, N'Recycled Water Main Replacement', 5, 5, 500000, N'Alameda', CAST(N'2014-11-22 12:00:00.000' AS DateTime), CAST(N'2014-08-21 22:59:00.000' AS DateTime), CAST(N'2014-08-23 23:58:00.000' AS DateTime))
INSERT [dbo].[PROJECT] ([PROJECT_ID], [PROJECT_MGR_ID], [PROJECT_NAME], [PERSON_ID], [FUND_ID], [ESTIMATED_COST], [COUNTY], [ESTIMATED_END_DT], [BID_DUE_DATE], [BID_RESULTS_DATE]) VALUES (2, 5, N'Sodium Hypochlorite(100 K lbs)', 8, 8, 700000, N'Santa Clara', CAST(N'2015-08-14 12:00:00.000' AS DateTime), CAST(N'2014-08-21 22:59:00.000' AS DateTime), CAST(N'2015-06-25 23:58:00.000' AS DateTime))
INSERT [dbo].[PROJECT] ([PROJECT_ID], [PROJECT_MGR_ID], [PROJECT_NAME], [PERSON_ID], [FUND_ID], [ESTIMATED_COST], [COUNTY], [ESTIMATED_END_DT], [BID_DUE_DATE], [BID_RESULTS_DATE]) VALUES (3, 2, N'Sedimentation Tank Cover Resealing', 7, 10, 250000, N'San Mateo', CAST(N'2015-02-20 12:00:00.000' AS DateTime), CAST(N'2015-06-14 22:59:00.000' AS DateTime), CAST(N'2014-01-10 22:58:00.000' AS DateTime))
INSERT [dbo].[PURCHASE_ORDER] ([PO_ID], [PO_AMOUNT], [PO_STATUS], [PROJECT_ID], [PO_DATE]) VALUES (1, CAST(5000.0000 AS Decimal(13, 4)), N'PENDING', 5, CAST(N'2015-01-25 22:58:00.000' AS DateTime))
INSERT [dbo].[PURCHASE_ORDER] ([PO_ID], [PO_AMOUNT], [PO_STATUS], [PROJECT_ID], [PO_DATE]) VALUES (2, CAST(25000.0000 AS Decimal(13, 4)), N'PENDING', 1, CAST(N'2014-10-11 10:58:00.000' AS DateTime))
INSERT [dbo].[PURCHASE_ORDER] ([PO_ID], [PO_AMOUNT], [PO_STATUS], [PROJECT_ID], [PO_DATE]) VALUES (3, CAST(2500.0000 AS Decimal(13, 4)), N'APPROVED', 2, CAST(N'2015-04-11 23:58:00.000' AS DateTime))
INSERT [dbo].[SPECIFICATIONS] ([SPEC_ID], [PROJECT_ID], [SPEC_NAME], [SPEC_PATH]) VALUES (1, 1, N'Rehab 15 Map ', N'C://Project_Files/Specifications')
INSERT [dbo].[SPECIFICATIONS] ([SPEC_ID], [PROJECT_ID], [SPEC_NAME], [SPEC_PATH]) VALUES (2, 10, N'NAHCL', N'http://specdocs.script/')
INSERT [dbo].[SPECIFICATIONS] ([SPEC_ID], [PROJECT_ID], [SPEC_NAME], [SPEC_PATH]) VALUES (3, 7, N'RWReplacement Schematic.dwr', N'C://temp')
INSERT [dbo].[TIMELINE] ([TIMELINE_ID], [PROJECT_ID], [ACTUAL_BEGIN_DT], [ACTUAL_END_DT]) VALUES (1, 1, CAST(N'2014-09-15 12:00:00.000' AS DateTime), CAST(N'2014-12-18 12:00:00.000' AS DateTime))
INSERT [dbo].[TIMELINE] ([TIMELINE_ID], [PROJECT_ID], [ACTUAL_BEGIN_DT], [ACTUAL_END_DT]) VALUES (2, 2, CAST(N'2015-03-11 12:00:00.000' AS DateTime), CAST(N'2015-07-14 12:00:00.000' AS DateTime))
INSERT [dbo].[TIMELINE] ([TIMELINE_ID], [PROJECT_ID], [ACTUAL_BEGIN_DT], [ACTUAL_END_DT]) VALUES (3, 3, CAST(N'2015-01-02 12:00:00.000' AS DateTime), CAST(N'2015-05-25 12:00:00.000' AS DateTime))
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_ORDER_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FK_PURCHASE_ORDER_PROJECT]
GO
USE [master]
GO
